.card-title {
    font-size: 1.15rem;
    font-weight: 600;
  }
  
  .fs-3 {
    font-size: 2.5rem!important;
  }
  
  #dashboardError {
    font-size: 1rem;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      display: none;
    }
    main.flex-grow-1 {
      padding: 12px;
    }
  }
  